<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>

      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
      <p id="login-reg" class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"
  integrity="sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=" crossorigin="anonymous"></script>
<script>

  let namebtn = document.getElementById("name");
  if (namebtn) {
    namebtn.onclick = (e) => {
      axios.post("/name", {
        message: "Writing name"
      }).then(res => {
        console.log("Response", res);
      }).catch(err => console.log)
    }
  }

  let emailbtn = document.getElementById("email");
  if (emailbtn) {
    emailbtn.onclick = (e) => {
      axios.post("/email", {
        message: "Writing email"
      }).then(res => {
        console.log("Response", res);
      }).catch(err => console.log)
    }
  }

  let pwdbtn = document.getElementById("password");
  if (pwdbtn) {
    pwdbtn.onclick = (e) => {
      axios.post("/password", {
        message: "Writing password"
      }).then(res => {
        console.log("Response", res);
      }).catch(err => console.log)
    }
  }

  let pswdbtn = document.getElementById("password2");
  if (pswdbtn) {
    pswdbtn.onclick = (e) => {
      axios.post("/password2", {
        message: "Writing password"
      }).then(res => {
        console.log("Response", res);
      }).catch(err => console.log)
    }
  }

  let lbtn = document.getElementById("login-reg");
  if (lbtn) {
    lbtn.onclick = (e) => {
      axios.post("/login-regis", {
        message: "login button on register page"
      }).then(res => {
        console.log("Response", res);
      }).catch(err => console.log)
    }
  }

</script>